<!DOCTYPE HTML>
<html>
<head>
<title>运营支撑系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> 

</script>
<link href="{{static_url('css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' />
<link href="{{static_url('css/style.css')}}" rel='stylesheet' type='text/css' />
<link href="{{static_url('css/font-awesome.css')}}" rel="stylesheet">
<link href="{{static_url('css/lines.css')}}" rel='stylesheet' type='text/css' />
<link href="{{static_url('css/custom.css')}}" rel="stylesheet">
<link href="{{static_url('css/DateTimePicker.css')}}" rel="stylesheet">
<link href="{{static_url('css/jquery-ui.min.css')}}" rel="stylesheet">

<script src="{{static_url('js/jquery.min.js')}}"></script>
<script src="{{static_url('js/DateTimePicker.js')}}"></script>
<script src="{{static_url('js/bootstrap.min.js')}}"></script>
<script src="{{static_url('js/metisMenu.min.js')}}"></script>
<script src="{{static_url('js/custom.js')}}"></script>
<script src="{{static_url('js/d3.v3.js')}}"></script>
<script src="{{static_url('js/rickshaw.js')}}"></script>
<script src="{{static_url('js/highcharts.js')}}"></script>
<script src="{{static_url('js/highcharts-3d.js')}}"></script>
<script src="{{static_url('js/modules/exporting.js')}}"></script>
<script src="{{static_url('js/modules/data.js')}}"></script>
<script src="{{static_url('js/modules/drilldown.js')}}"></script>
<script src="{{static_url('js/jquery-ui.min.js')}}"></script>
 <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="{{static_url('css/DateTimePicker-ltie9.css')}}" />
  <script type="text/javascript" src="{{static_url('js/DateTimePicker-ltie9.js')}}"></script>
 <![endif]-->
<script type="text/javascript" src="{{static_url('js/i18n/DateTimePicker-i18n.js')}}"></script>
</head>
<body>
<div id="wrapper">
  <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header"> <img src="{{static_url('images/appicon.png')}}" style="height: 50px"> <a class="navbar-brand" href="#" >功夫少林后台管理系统</a> </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <form action="/gm/logout" method="post">
          <input type="submit" class="btn btn-lg btn-danger" value="退出"/>
        </form>
      </li>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li><a href="/gm/main"><i class="fa fa-dashboard fa-fw nav_icon"></i>系统概况</a></li>
          <li> <a href="#"><i class="fa fa-laptop nav_icon"></i>服务器管理<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li><a href="/gm/playerinfo">玩家数据</a></li>
              <li><a href="/gm/playerlog">玩家日志</a></li>
              <li><a href="/gm/guildinfo">公会详情</a></li>
              <li><a href="/gm/boardorbusy">公告&跑马灯</a></li>
              <li><a href="/gm/gamemail">邮件发送</a></li>
              <li><a href="/gm/mailmanage">邮件审核</a></li>              
              <li><a href="/gm/serverlist">状态管理</a></li>
              <li><a href="/gm/testaccount">测试帐号</a></li>
              <li><a href="/gm/cloudmessage">消息推送</a></li>
              <li><a href="/gm/orderinfo">订单查询</a></li>
            </ul>
          </li>
          <li> <a href="#"><i class="fa fa-flask nav_icon"></i>日志分析<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li><a href="/gm/la_pay">充值分析</a></li>
              <li><a href="/gm/la_consumegold">元宝消耗</a></li>
              <li><a href="/gm/la_dailyactive">活跃分析</a></li>
              <li><a href="/gm/la_consumegoldbyact">活动消耗</a></li>
              <li><a href="/gm/la_dailycreate">新增分析</a></li>
              <li><a href="/gm/la_viplevel">会员统计</a></li>
              <li><a href="/gm/la_subsistence">留存分析</a></li>
              <li><a href="/gm/la_itemsoldinmall">道具售卖</a></li>
              <li><a href="/gm/la_leveldistribution">等级分布</a></li>
              <li><a href="/gm/la_goldmoneysurplus">元宝库存</a></li>
              <li><a href="/gm/la_totalonlinetime">在线时长</a></li>
              <li><a href="/gm/la_consumegoldbysys">系统消耗</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="page-wrapper"> {% block content %}{% end %} </div>
</body>
</html>
