<!DOCTYPE HTML>
<html>
<head>
<title>Operate Suport System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> 
  addEventListener(
    "load", 
    function() { 
      setTimeout(hideURLbar, 0);
       }, 
       false); 
  function hideURLbar(){
   window.scrollTo(0,1);
 }
</script>
</head>
<link href="{{static_url('css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' />
<link href="{{static_url('css/style.css')}}" rel='stylesheet' type='text/css' />
<link href="{{static_url('css/font-awesome.css')}}" rel="stylesheet"> 
<script src="{{static_url('js/jquery.min.js')}}"></script>
<script src="{{static_url('js/bootstrap.min.js')}}"></script>
{% block content %}{% end%}
</html>
