{% extends "base2.html" %}
{% block content %}
  <div class="dashboard-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-md-offset-4">
          <div class="page-not-found center-align-text">
            <div class="number"><h1>404</h1></div>
            <h3>Page is not found.</h3>
            <p>We can not find the page you're looking for.<br>
              Try the search bar below.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% end %}
